* {
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body{
    display: grid;
    grid-template-columns:  auto 550px auto;
    background-color: #395D5E;
    margin:0;
}

header {
    display: flex;
    justify-content: center;
    grid-column: span 3;
    margin-bottom: 1em;
    background-color: #F4CFB4;
    
}

h1, h2 {
    text-align: center;
    font-family: 'Reenie Beanie';
}

h1{
    font-size: 8em;
    margin: 0.4em 0em;
    line-height: 80px;
}

h2{
font-size: 30px;
}

img {
    max-width: 100%;
    align-self: center;
}

main{
    grid-column-start: 2;
     background-color: #FFF2E9;
     border-radius: 10px;
     font-family: Montserrat;
     display: flex;
     flex-direction: column;
     padding:1em 0em;
}

textarea {
    float: left;
    width: 100%;
}

button {
    cursor: pointer;
}

.div-react {
    margin-top: 2em;
    /* margin-bottom: 2em; */
    display: flex;
    justify-content: space-between;
}

.likes, .smiles, .cries {
    margin-right: 0.25em;
    margin-left: 1em;
    border-radius: 5px;
    font-size: 1.15em;
}

#new-post-form {
    display: none;
    border: solid 3px #C93429;
    border-radius: 5px;
    margin: 1em 2em;
    padding: 2em;
    flex-direction: column;
}

#post-form-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

#formErrors{
    height: 1em;
}

#counter {
    align-self: flex-end;
    margin-top: 0.75em;
}

#selectedGif {
    display: flex;
    align-items: flex-start;
    margin: 1em 0em;
} 

#selectedGif input{
 height: 2em;
 width: 2em;
 border-radius: 50%;
 border:none;
 background-color: #C93429;
 color: white;
 font-weight: 1000;
}

#selectedGif img {
    margin-right: -15px;
}

#gifForm{
    margin-top: 1em;
}

#gifContainer{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#gifContainer img {
    height:100%;
    object-fit: cover;
}

.add-comment-form {
    display: flex;
    flex-direction:column;
}

.comment-btn {
    align-self: flex-end;
}

.input-form {
    margin-top: 1em;
    margin-bottom: 0.75em;
}

.comments-div {
    margin-top: 2em;
    text-align: start;
}

.author-date-div {
    display: flex;
    justify-content: space-between;
}

.post {
    display: flex;
    flex-direction: column;
}

article {
    border: solid 3px #C93429;
    border-radius: 5px;
    margin: 1em 2em;
    padding: 2em;
    background-color: white;
    text-align: center;
}

#showMorePosts{
    width: 1.5em;
    border: none;
    font-size: 3em;
    background: none;    
    cursor: pointer;
    align-self: center;
}

footer {
    display: flex;
    justify-content: center;
    grid-column: span 3;
    font-family: MontSerrat;
}

#footer-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.footer-p {
    text-align: center;
    margin: 0.3em 0em;
    font-size: 0.8em;
    color: #FFF2E9;
}

.float-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  border: solid 5px #C5A48D;
  box-sizing: border-box;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}
.icon{
    position: absolute;
    left: -1px;
    top:-1px;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid black; /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 0.7s linear infinite;
    margin:1em;
    align-self: center;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 @media only screen and (max-width: 550px) {
     body{
         display: block;
     }
     article {
         margin: 0.37em 0.75em 0.37em 0.75em;
         padding: 1.25em;
     }
     .likes, .smiles, .cries {
        margin-right: 0.15em;
        margin-left: 0.75em;
        border-radius: 5px;
     }
 }

 .p-title{
    font-size: 2em;
    margin:0.5em 0em;
 }

 .p-author, .p-date{
     color: grey;
 }

 

 button , input {
     font-family: Montserrat;
 }
